* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    display: flex;
    justify-content:center;
    align-items: center;
    height:100vh;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height:1.5;
}
